* {box-sizing:border-box;}
.wrapper{
    margin: auto;
    max-width: 900px;
    #collection-page{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
        .input--dropdown{
            width: 32%;
        }
        @media(max-width: 653px){
            display: block;
            text-align: center;
            .input--dropdown{
                margin-bottom: 2em;
                width: 100%;
            }
        }
    }
    .card-container{
        display: flex;
        flex-wrap: wrap;
        .card{
            display: flex;
            flex: 1 0 30%;
            margin: 10px;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 2em;
            
            &__image{
                img{
                    height: auto;
                    width: 100%;
                    padding-bottom: 1em;
                }
            }
            &__title{
                display: flex;
                justify-content: center;
                flex-basis: 100%;
                padding-bottom: 1em;
            }
            &__price{
                display: flex;
                justify-content: center;
                flex-basis: 100%;
                padding-bottom: 1em;
                .price-compare{
                    text-decoration: line-through;
                    margin-right: 8px;
                }
                .sale-price{
                    color: red;
                }
            }
            &__swatches{
                display: flex;
                justify-content: flex-start;
                .swatch{
                    display: block;
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    border: 3px solid #fff;
                    background-color: white;
                    text-align: right;
                    cursor: pointer;
                    margin: 3px 4px;
                    @media(max-width: 510px){
                        height: 20px;
                        width: 20px;
                        margin: 1px 2px;
                    }
                    &.active{
                        border: 3px solid #FFF;
                        border-radius: 18px;
                        box-shadow: 0 0 0 1px black;
                        height: 25px;
                        width: 25px;
                        @media(max-width: 510px){
                            height: 20px;
                            width: 20px;
                        }
                    }
                    &.blue {background-color: #00BCD3;}
                    &.red {background-color: #EF5350;}
                    &.gold {background-color: #FEC109;}
                    &.brown {background-color: #AF806E;}
                    &.mediumgray {background-color: #CDCDCD;}
                    &.navy {background-color: #2F3676;}
                    &.yellow {background-color: #FEC109;}
                    &.darkwash {background-color: #2F3676;}
                    &.lightwash {background-color: #00BCD3;}
                }
            }
        }    
    }
}